.navbar-brand {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.02em;
}

.navbar-inner-center {
  height: 100%;

  .nav-info-box {
    &:hover {
      cursor: pointer;
      background: var(--color-primary);
    }

    .item-icon {
      max-height: 1rem;
    }
  }
}

.active {
  cursor: pointer;
  background: #1773BB;
}

.navbar {
  z-index: 9;
  height: 72px;
  padding: 0 40px;
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-white);
}
