<div class="navbar position-sticky d-flex justify-content-center">
  <div class="logo"></div>
  <div class="nav-info-box d-flex" *ngFor="let navChild of navBar">
    <a class="nav-info text-uppercase fw-bold list-unstyled text-decoration-none">
      {{ navChild.info }}
    </a>
  </div>
</div>

<div class="wrapper">
  <div class="background-blur"></div>

  <div class="d-flex justify-content-center fit-to-center">
    <div class="background-small fit-to-center">
      <img src="/assets/img/background-small.jpg" class="fit-to-center" />
    </div>
  </div>

  <div class="bg-small-text">
    <ul
      class="bread-crumb text-capitalize d-flex justify-content-center list-unstyled"
    >
      <li class="me-2" *ngFor="let breadChild of breadCrumbs">
        {{ breadChild.displayText }}
        <span class="me-2"> {{ breadChild.arrow }} </span>
      </li>
    </ul>
  </div>
</div>

<div class="container d-flex align-items-center mt-4 mb-3 p-3 position-relative input-box">
  <i lass="fa-solid fa-magnifying-glass input-glass position-absolute fs-2"></i>
  <input
    class="input-text fw-bold ps-5"
    type="text"
    name="search"
    autocomplete="off"
    placeholder="Tìm Tướng"
  />

  <div class="heroes d-flex justify-content-center w-100">
    <div class="hero-box">
      <span
        class="hero fw-bold text-capitalize"
        *ngFor="let heroChild of heroesCategories"
      >
        {{ heroChild.type }}
      </span>
    </div>
  </div>

  <div class="hero-collapse">
    <div class="dropdown">
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fa-solid fa-bars"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center flex-wrap my-4">
  <div *ngFor="let character of characters" class="hero-wrapper fs-3 m-3">
    <div class="img-box position-relative overflow-hidden">
      <img [src]="character.img" class="current-img" />
    </div>
    <div class="name position-relative">
      {{ character.name }}
    </div>
  </div>
</div>
