<div class="navbar">
  <img class="spacer" src="/assets/img/logo.png" alt="" />
  <button class="spacer"><a>TIN TỨC</a></button>
  <button class="spacer"><a>GIỚI THIỆU</a></button>
  <button class="spacer"><a>ESPORTS</a></button>
  <button class="spacer"><a>HỖ TRỢ</a></button>
  <button class="spacer"><a>TẢI GAME</a></button>
  <button class="spacer"><a>NẠP THẺ</a></button>
</div>

<div class="search-heroes-wrapper">
  <div class="input-box">
    <div class="input-and-glass">
      <input
        class="input-text"
        type="text"
        name="search"
        autocomplete="off"
        placeholder="Tìm Tướng"
      />
      <i class="fa-solid fa-magnifying-glass input-glass"></i>
    </div>

    <div class="heroes">
      <button class="hero all-button"><a>Tất cả</a></button>
      <button class="hero"><a>Xạ Thủ</a></button>
      <button class="hero"><a>Đấu Sĩ</a></button>
      <button class="hero"><a>Đỡ Đòn</a></button>
      <button class="hero"><a>Sát Thủ</a></button>
      <button class="hero"><a>Hỗ Trợ</a></button>
      <button class="hero"><a>Pháp Sư</a></button>
    </div>
  </div>
  <!-- <div class="list-wrapper-normal">
    <ul *ngFor="let character of charactersData" class="list-style">
      <li class="overlay">
        <img [src]="character.img" class="animation-characters" />
      </li>
    </ul>
  </div> -->
  <div class="list-wrapper-cut">
    <ul *ngFor="let character of charactersData" class="list-style">
      <li class="image-wrapper">
        <img [src]="character.img" class="current-characters" />
      </li>
      <li class="name">{{ character.name }}</li>
    </ul>
  </div>
</div>
