$border-solid: 1px solid;

.container-fluid {
  padding: 72px 40px;
}

.filter-section {
  margin: 1.25rem 0;
}

.form-control:focus {
  box-shadow: none;
}

.btn-group {
  height: 48px;
  width: 160px;
}

.badge {
  border-radius: 4px;
  font-size: 14px;

  &.badge-uncomplete {
    background: rgba(255, 61, 0, 0.1);
    border: $border-solid var(--color-red);
    .status {
      color: var(--color-red);
    }
  }

  &.badge-low-risk {
    background: var(--color-light-green);
    border: $border-solid var(--color-green);
    .status {
      color: var(--color-green);
    }
  }

  &.badge-needs-review {
    background: #ececed;
    border: $border-solid var(--color-light-grey);
    .status {
      color: var(--color-light-grey);
    }
  }

  .dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
  }
}

.input-group-text {
  border-right: none;
  border: $border-solid var(--color-light-grey);
  background-color: var(--color-white);
}

.btn-check:checked + .btn,
.btn-check:active + .btn,
.btn:active,
.btn:hover,
.btn.active,
.btn.show {
  color: var(--color-white);
}

::placeholder {
  color: var(--color-light-grey);
}

input,
select {
  height: 48px;
  outline: none;
  border: $border-solid var(--color-light-grey);
  border-radius: 4px;
  background-color: var(--color-white);
  box-shadow: none;
  cursor: pointer;
  &:focus {
    outline: none;
    border-color: var(--color-light-grey);
    box-shadow: none;
  }
}

.card {
  margin-bottom: 10px;
  background: var(--color-white);
  border: $border-solid var(--color-light-grey);
  width: 459px;

  .card-text p {
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.label-select {
  border: $border-solid #b8b9bc;
  color: #060c1b;

  &:first-child {
    border-right: none;
  }
  &:last-child {
    border-left: none;
  }
}

.datepicker-wrapper {
  .datepicker-toggle {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 20px;
    top: -8px;
  }

  .datepicker-toggle-button {
    position: absolute;
    left: 14px;
    top: -13px;
    width: 100%;
    height: 100%;
    background-image: url("/assets/icons/calendar.svg");
    background-repeat: no-repeat;
  }

  .datepicker-input {
    position: relative;
    left: 0;
    top: -13px;
    width: 100%;
    height: 34px;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
  }

  .datepicker-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .datepicker {
    position: relative;
    top: 13px;
    padding-left: 40px;
  }
}

#map {
  width: 100%;
  height: 623px;
  margin-right: -2.5rem;
}
