<div class="container-fluid px-5">
  <h1>Submissions</h1>

  <div class="filter-section">
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" />
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4" />
      </div>
    </form>
  </div>

  <div class="locations-wrapper mt-5">
    <div class="card" style="width: 459px;">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between fw-bold">
          <span>Work Flow: Requires Location</span>
          <span class="badge text-danger d-flex gap-2 fw-normal">
            <div class="dot"></div>
            Uncomplete
          </span>
        </h5>
        <div class="card-text">
          <p>
            <span class="me-2 text-secondary">From:</span>
            <span>denisgordiyenya@gmail.com</span>
          </p>
          <p>
            <span class="me-2 text-secondary">To:</span>
            <span>denisgordiyenya@gmail.com</span>
          </p>
          <p>
            <span class="me-2 text-secondary">Due Date:</span>
            <span class="text-danger">06 December</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
