.routing-item {
  padding: 0 3rem 0 3rem;
}
.center-link {
  display: none;
  padding: 1rem 0 1rem 0;
  background-image: radial-gradient(
    circle,
    #fce5b9,
    #ffdac2,
    #fad3ce,
    #eacfd6,
    #d8cdd5,
    #d3c7d0,
    #cfc0cb,
    #cabac6,
    #d3aeb8,
    #d9a4a1,
    #d49e83,
    #c19e68
  );
  text-align: center;
}
