<div style="text-align: center">
  <a
    [routerLink]="['/home']"
    routerLinkActive="router-link-active"
    class="routing-item"
  >
    To Home
  </a>

  <a
    [routerLink]="['/about']"
    routerLinkActive="router-link-active"
    class="routing-item"
  >
    To About
  </a>

  <a
    [routerLink]="['/heroes']"
    routerLinkActive="router-link-active"
    class="routing-item"
  >
    To Heroes
  </a>

  <a
    [routerLink]="['/lolheroes']"
    routerLinkActive="router-link-active"
    class="routing-item"
  >
    To LolHeroes
  </a>
</div>

<router-outlet></router-outlet>
