:root {
  --color-primary: #1773bb;
  --color-white: #ffffff;
  --color-light-grey: #b8b9bc;
  --color-red: #ff3d00;
  --color-grey: #373737;
  --color-green: #53d86a;
  --color-light-green: #d7e5da;
  --color-dark: #060c1b;
}
