$primary: #2188d9;
$secondary: #b8b9bc;
$danger: #ff3d00;
$success: #53d86a;
$black: #060c1b;
$enable-shadows: true;
$prefix: "mo-";

@import "~node_modules/bootstrap/scss/bootstrap";

@import "./variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, "Droid Sans", sans-serif;
  overflow-x: hidden;
  color: var(--color-dark);
}

p,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-dark);
}
