<h1>Hello People!</h1>
<h3>Welcome to the rice field {{ name | uppercase }} handsome !</h3>
<h4>You are now {{ age }} years old !</h4>

<input [(ngModel)]="name" />
<button (click)="ageIncrease()">Increase Age</button>
<button (click)="ageDecrease()">Reduce Age</button>
<br />
<br />
<span *ngIf="age < 22; then condition1; else condition2"></span>
<ng-template #condition1>You're under 22 years old</ng-template>
<ng-template #condition2>You're 22 or greater than</ng-template>
<br />
<br />
<div *ngFor="let assassin of assassins">
  <li>{{ assassin }}</li>
</div>

update
